---
// Standard docs footer
---
<footer class="foot">
  <div class="container foot__inner">
    <pre class="foot__ascii">
   ~~~~~ ~~~~~~~ ~~~~ ~~~~~~ ~~~~ ~~~~~~~~ ~~~~
~~~~~  ~~~~~ ~~~~~~ ~~~~~~~ ~~~~~~~~ ~~~~~ ~~~~~~~
   ~~~ ~~~~~ ~~~~~~ ~~~~~~~ ~~~~ ~~~~~~~ ~~~~ ~~~
   </pre>
    <div>
      <ul class="foot__links">
        <li><a href="/">Home</a></li>
        <li><a href="/docs/">All docs</a></li>
        <li><a href="https://github.com/drhalto/agentmako">GitHub</a></li>
        <li><a href="https://www.npmjs.com/package/agentmako">npm</a></li>
      </ul>
      <div class="foot__sig" style="margin-top:1.25rem;">agentmako · Apache-2.0</div>
    </div>
  </div>
</footer>
